html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .ad-center__list:after, .card__cement-item:after, .card__info-item:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .ad-center__list:before, .card__cement-item:before, .card__info-item:before {
  content: '';
  display: table;
}

sup {
  font-size: 12px;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "PTSansRegular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header__top {
  background-color: #fff;
  padding: 30px 0;
}

.header__bottom {
  background-color: #393d43;
}

.h-logo__link {
  display: block;
  width: 240px;
  height: 59px;
}

.h-logo__img {
  width: 100%;
  display: block;
  height: auto;
}

.h-info {
  padding-top: 6px;
}

.h-info p {
  font-size: 19px;
  line-height: auto;
  color: #393d43;
}

.h-phone__number {
  margin-top: 3px;
}

.h-phone__number a {
  font-size: 22px;
  color: #393d43;
  display: inline-block;
  line-height: auto;
  padding-right: 155px;
  position: relative;
}

.h-phone__number a:hover, .h-phone__number a:active, .h-phone__number a:focus {
  color: #393d43;
  text-decoration: none;
}

.h-phone__number a span {
  font-size: 33px;
  line-height: auto;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -7px;
}

.h-phone__callback a {
  color: #393d43;
  text-decoration: underline;
  padding-left: 28px;
  font-size: 16px;
  position: relative;
  line-height: 38px;
}

.h-phone__callback a::before {
  content: '';
  width: 15px;
  height: 30px;
  display: block;
  background-image: url(../img/icon/1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.h-phone__callback a:hover {
  color: #393d43;
  text-decoration: none;
}

.h-phone__callback a:active, .h-phone__callback a:focus {
  text-decoration: underline;
  color: #393d43;
}

.h-basket {
  padding-left: 118px;
  position: relative;
  margin-top: 20px;
}

.h-basket__icon {
  width: 47px;
  height: 47px;
  display: block;
  background-image: url(../img/icon/2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 42px;
  top: 50%;
  margin-top: -23.5px;
}

.h-basket::before {
  content: '';
  width: 1px;
  height: 85px;
  background-color: #d9dadb;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -42.5px;
  left: 0;
}

.h-basket a {
  color: #393d42;
  font-size: 16px;
}

.h-basket a:hover {
  text-decoration: underline;
  color: #393d42;
}

.h-basket a:focus, .h-basket a:active {
  color: #393d42;
  text-decoration: none;
}

.h-nav {
  font-size: 0;
  display: block;
}

.h-nav__item {
  display: inline-block;
  position: relative;
}

.h-nav__item-active .h-nav__link {
  background-color: #01ca02;
  text-decoration: none;
  color: #fff;
}

.h-nav__item-hover .h-nav__link {
  background-color: #01ca02;
  text-decoration: none;
  color: #fff;
}

.h-nav__link {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 26px 30.5px;
}

.h-nav__link:hover {
  background-color: #01ca02;
  text-decoration: none;
  color: #fff;
}

.h-nav__link:active, .h-nav__link:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

.h-nav__sub {
  position: absolute;
  left: 0;
  top: 74px;
  background-color: #393d43;
  width: 376px;
  border-top: 2px solid #01ca02;
  display: none;
  z-index: 998;
}

.h-nav__sub-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  display: block;
  padding: 7px 0 7px 30px;
}

.h-nav__sub-link:hover {
  text-decoration: none;
  background-color: #51555a;
  color: #fff;
}

.index-slider {
  position: relative;
  overflow: hidden;
}

.index-slider::after {
  content: '';
  display: block;
  z-index: 994;
  background-color: rgba(129, 129, 129, 0.5);
  width: 73px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.index-slider::before {
  content: '';
  display: block;
  z-index: 994;
  background-color: rgba(129, 129, 129, 0.5);
  width: 73px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.index-slider__item {
  position: relative;
}

.index-slider__img {
  width: 100%;
}

.index-slider .slick-arrow {
  position: absolute;
  display: block;
  z-index: 995;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 31px;
  height: 62px;
  background-image: url(../img/icon/3.png);
  border: none;
  background-color: transparent;
  text-indent: -9999px;
}

.index-slider .slick-next {
  background-position: right center;
  right: 14px;
}

.index-slider .slick-prev {
  background-position: left center;
  left: 14px;
}

.advantages {
  padding: 60px 0;
}

.ad-top {
  padding-bottom: 60px;
  border-bottom: 1px solid #e1e2e3;
}

.ad-top__title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #393d42;
  font-size: 28px;
  line-height: 33px;
}

.ad-center {
  padding-top: 42px;
}

.ad-center__item {
  color: #393d42;
  display: block;
  font-size: 20px;
  line-height: 24px;
  width: 210px;
  text-align: right;
  float: right;
  margin-bottom: 62px;
}

.ad-center__item-1 {
  margin-right: -24px;
}

.ad-center__item-3 {
  margin-right: -24px;
}

.ad-center__item-4 {
  margin-left: -24px;
}

.ad-center__item-6 {
  margin-left: -24px;
}

.ad-center__item-right {
  text-align: left;
  float: left;
}

.ad-center__img {
  display: block;
  width: 100%;
}

.ad-center__img-wp {
  width: 284px;
  display: block;
  margin: 0 auto;
  margin-top: 58px;
}

.r-projects {
  background-color: #f5f7f8;
  padding-bottom: 50px;
}

.rproj-top {
  text-align: center;
  position: relative;
  padding: 45px 204px;
  border-bottom: 1px solid #e1e2e3;
}

.rproj-top__title {
  color: #393d42;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 33px;
  display: inline-block;
  max-width: 730px;
}

.rproj-top__button {
  display: inline-block;
  height: 40px;
  padding: 0 25px;
  background-color: #01ca02;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 0;
  top: 40px;
}

.rproj-top__button:hover, .rproj-top__button:active, .rproj-top__button:focus {
  color: #fff;
  text-decoration: none;
}

.rproj-slider {
  margin-top: 62px;
  position: relative;
  padding: 0 30px;
}

.rproj-slider__img {
  width: 100%;
  height: auto;
}

.rproj-slider__img-wp {
  width: 304px;
  height: 172px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 16px;
}

.rproj-slider .slick-arrow {
  position: absolute;
  display: block;
  z-index: 995;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 31px;
  height: 62px;
  background-image: url(../img/icon/3.png);
  border: none;
  background-color: transparent;
  text-indent: -9999px;
}

.rproj-slider .slick-next {
  background-position: right center;
  right: -31px;
}

.rproj-slider .slick-prev {
  background-position: left center;
  left: -31px;
}

.rproj-slider .slick-list {
  overflow: hidden;
  text-align: center;
}

.rproj-slider__name {
  color: #393d42;
  font-size: 20px;
  line-height: 24px;
  display: block;
  text-decoration: underline;
}

.rproj-slider__name:hover {
  text-decoration: none;
}

.rproj-slider__name:active, .rproj-slider__name:focus {
  color: #393d42;
  text-decoration: underline;
}

.bestseller {
  padding-top: 60px;
}

.hit-prod {
  border: 2px solid #d7d6d6;
  padding-bottom: 18px;
  margin-top: 58px;
  margin-bottom: 74px;
  height: 437px;
}

.hit-prod__title {
  color: #393d43;
  font-size: 26px;
  line-height: 33px;
  font-family: "PTSansBold", sans-serif;
  display: inline-block;
}

.hit-prod__title-wp {
  padding: 20px;
  text-align: center;
}

.hit-prod__img {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.hit-prod__img-wp {
  width: 80%;
  margin: 0 auto;
  height: 228px;
  text-align: center;
  position: relative;
}

.hit-prod__color {
  font-size: 0;
  text-align: center;
}

.hit-prod__color-item {
  display: inline-block;
  padding: 0 5px;
}

.hit-prod__color-link {
  display: block;
  width: 21px;
  height: 21px;
}

.hit-prod__color-name {
  display: block;
  text-align: center;
  padding: 14px 0;
}

.hit-prod__color-name span {
  display: inline-block;
  color: #6b727d;
}

.hit-prod__bottom {
  padding: 0 18px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hit-prod__bottom-left {
  display: inline-block;
  font-size: 22px;
  color: #393d43;
  line-height: 33px;
}

.hit-prod__bottom-left b {
  font-family: "PTSansBold", sans-serif;
  font-size: 32px;
  color: #393d43;
  line-height: 33px;
}

.hit-prod__bottom-left sup {
  font-size: 16px;
}

.hit-prod__bottom-right {
  display: inline-block;
}

.hit-prod__bottom-right-bt {
  padding-left: 65px;
  line-height: 45px;
  padding-right: 20px;
  display: block;
  color: #fff;
  position: relative;
  background-color: #01ca02;
  font-size: 18px;
}

.hit-prod__bottom-right-bt::before {
  content: '';
  width: 28px;
  height: 26px;
  background-image: url(../img/icon/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 17px;
}

.hit-prod__bottom-right-bt:hover, .hit-prod__bottom-right-bt:focus, .hit-prod__bottom-right-bt:active {
  text-decoration: none;
  color: #fff;
}

.partners {
  padding-top: 30px;
}

.partners .ad-top {
  padding-bottom: 30px;
}

.partners__img {
  max-width: 100%;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.partners__img-wp {
  width: 100%;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 48px;
  height: 60px;
}

.footer {
  background-color: #6b727d;
  padding-top: 40px;
  padding-bottom: 32px;
}

.copy p {
  color: #fff;
  font-size: 16px;
  line-height: auto;
}

.rips__wp {
  padding-left: 56px;
  position: relative;
}

.rips__wp::before {
  content: '';
  width: 39px;
  height: 46px;
  display: block;
  background-image: url(../img/icon/4.png);
  left: 0;
  top: 50%;
  margin-top: -23px;
  position: absolute;
}

.rips__wp a {
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
  line-height: auto;
}

.rips__wp a:hover {
  text-decoration: none;
  color: #fff;
}

.rips__wp a:active, .rips__wp a:focus {
  text-decoration: underline;
  color: #fff;
}

.button-up {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #01ca02;
  border: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.button-up::after {
  content: '';
  width: 25px;
  height: 15px;
  display: block;
  background-image: url(../img/icon/5.png);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -7.5px;
}

.button-up__wp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}

.catalog-slider::before {
  display: none;
}

.catalog-slider::after {
  display: none;
}

.catalog-slider .slick-dots {
  position: absolute;
  bottom: 17px;
  left: 0;
  right: 0;
  font-size: 0;
  text-align: center;
}

.catalog-slider .slick-dots li {
  display: inline-block;
  padding: 0 10px;
}

.catalog-slider .slick-dots li button {
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.catalog-slider .slick-dots .slick-active button {
  position: relative;
}

.catalog-slider .slick-dots .slick-active button::after {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #0c0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
}

.path {
  padding: 30px 0;
}

.path__item {
  display: inline-block;
}

.path__item::before {
  content: '/';
  display: inline-block;
}

.path .path__item:first-child::before {
  display: none;
}

.path__link {
  color: #393d43;
  font-size: 16px;
  line-height: 33px;
  text-decoration: underline;
}

.path__link:hover {
  text-decoration: none;
  color: #393d43;
}

.path__link:active, .path__link:focus {
  text-decoration: underline;
  color: #393d43;
}

.p-title {
  text-align: center;
  padding: 30px 0 60px;
  border-bottom: 1px solid #e1e2e3;
}

.p-title__title {
  text-transform: uppercase;
  display: inline-block;
  color: #393d42;
  font-size: 28px;
  line-height: 33px;
}

.p-prod {
  margin-bottom: 50px;
  margin-top: 0;
}

.p-prod__wp {
  padding-top: 58px;
}

.pagination {
  font-size: 0;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 83px;
}

.pagination__item {
  display: inline-block;
  padding: 0 5px;
}

.pagination__item-active .pagination__link {
  background-color: #01ca03;
  color: #fff;
}

.pagination__item-active .pagination__link:hover, .pagination__item-active .pagination__link:focus, .pagination__item-active .pagination__link:active {
  color: #fff;
  text-decoration: none;
}

.pagination__link {
  color: #393d43;
  font-size: 22px;
  line-height: 43px;
  display: block;
  padding: 0 12px;
}

.pagination__link:hover, .pagination__link:focus, .pagination__link:active {
  color: #393d42;
  text-decoration: none;
}

.page__card {
  padding-top: 16px;
  margin-bottom: 30px;
}

.sidebar {
  padding-top: 45px;
  background-color: #eaebeb;
  height: 100%;
  position: relative;
}

.sidebar__link {
  color: #393d43;
  font-size: 18px;
  font-family: "PTSansBold", sans-serif;
  padding: 7px 20px;
  display: block;
}

.sidebar__link:hover {
  text-decoration: none;
  color: #393d43;
}

.sidebar__link:active, .sidebar__link:focus {
  text-decoration: none;
  color: #393d43;
}

.sidebar-sub__link {
  color: #393d43;
  font-size: 18px;
  padding: 7px 48px;
  display: block;
}

.sidebar-sub__link:hover {
  background-color: #01ca03;
  text-decoration: none;
  color: #fff;
}

.sidebar-sub__link:active, .sidebar-sub__link:focus {
  text-decoration: none;
  color: #fff;
}

.card__title {
  text-transform: uppercase;
  color: #393d42;
  font-size: 28px;
  line-height: 33px;
  display: inline-block;
}

.card__title-wp {
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #e7dbdb;
}

.card__img {
  max-width: 100%;
  height: auto;
}

.card__img-wp {
  width: 100%;
}

.card__cement-title {
  display: block;
  padding-bottom: 5px;
}

.card__cement-item {
  cursor: pointer;
  height: 48px;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}

.card__cement-item-active {
  border-color: #ec6800;
}

.card__cement-item-no {
  opacity: 0.5;
  cursor: pointer;
  height: 48px;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}

.card__cement-item:hover {
  border-color: #ec6800;
}

.card__cement-item-left {
  width: 50%;
  float: left;
  color: #393d43;
  display: inline-block;
  font-size: 20px;
  height: 46px;
  line-height: 46px;
  text-align: center;
}

.card__cement-item-left sup {
  font-size: 13px;
}

.card__cement-item-right {
  width: 50%;
  float: right;
  padding-left: 40px;
  position: relative;
  height: 46px;
  vertical-align: middle;
}

.card__cement-item-right-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.card__info {
  padding: 35px 10%;
}

.card__info-item {
  padding: 7px 0;
}

.card__info-item-left {
  float: left;
  width: 50%;
  text-align: left;
}

.card__info-item-right {
  float: right;
  width: 50%;
  text-align: right;
  font-family: "PTSansBold", sans-serif;
}

.card__c-color-title {
  display: inline-block;
  font-family: "PTSansBold", sans-serif;
  font-size: 18px;
}

.card__c-color-title-wp {
  text-align: center;
  padding-bottom: 5px;
}

.card__c-color-list {
  text-align: center;
}

.card__c-color-item {
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.card__c-color-item span {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 50%;
  margin-left: -14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-indent: -9999px;
}

.card__c-color-item span:hover {
  width: 36px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  margin-left: -18px;
}

.card__c-color-item .active {
  width: 36px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  margin-left: -18px;
  border: 1px solid #ff5a0d;
}

.card__c-color-name {
  display: block;
  text-align: center;
}

.card__buy {
  text-align: center;
  padding-top: 58px;
}

.card__buy .hit-prod__bottom-left {
  display: inline-block;
  margin-right: 36px;
}

.card__buy .card__buy-button {
  display: inline-block;
}

.card__portfolio {
  padding-bottom: 180px;
  margin-top: 30px;
  border-top: 1px solid #e7dbdb;
}

.card__portfolio-title {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 33px;
  color: #393d42;
}

.card__portfolio-title-wp {
  padding-top: 60px;
  padding-bottom: 40px;
}

.card__portfolio-img {
  height: 100%;
  width: auto;
}

.card__portfolio-img-wp {
  height: 164px;
  width: 100%;
  overflow: hidden;
  border: 5px solid #f3f3f3;
}

.topMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.call-popup {
  position: relative;
}

.call-popup-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.call-popup-wp {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding: 16px 30px 25px;
  border-radius: 3px;
  display: none;
}

.call-popup__title {
  font-family: "PTSansBold", sans-serif;
  font-size: 24px;
  display: inline-block;
}

.call-popup__title-wp {
  text-align: center;
  padding-bottom: 16px;
}

.call-popup__row {
  padding-bottom: 10px;
}

.call-popup__label {
  display: block;
  text-align: left;
}

.call-popup__input {
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0 10px;
}

.call-popup__textarea {
  height: 100px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: block;
  width: 100%;
  resize: none;
  padding: 5px 10px;
}

.call-popup__button {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: #323335;
  border: none;
  text-align: center;
  font-family: "PTSansBold", sans-serif;
  color: #fff;
  font-size: 18px;
}

.call-popup__close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  right: -48px;
  top: -31px;
  background-color: #222224;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
}

.call-popup__close span {
  font-size: 28px;
  color: #fff;
  margin-top: -5.5px;
  display: block;
}

.cat-list {
  height: 340px;
}

.zakaz-popup-wp {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding: 16px 30px 25px;
  border-radius: 3px;
  display: none;
}

.ourwork {
  height: 246px;
  border: none;
}

.ourwork .rproj-slider__img-wp {
  width: 100%;
}

.ourwork .rproj-slider__name {
  text-align: center;
}

.p-basket {
  width: 100%;
  text-align: center;
  border: none;
  margin-top: 15px;
}

.p-basket__top {
  border: none;
  font-size: 20px;
}

.p-basket__top-item {
  background-color: #e3e6ee;
  border: 2px solid #fff;
  padding: 10px;
}

.p-basket__item-item {
  padding: 10px;
  border: 2px solid #fff;
}

.p-basket__item-item-1 {
  position: relative;
  text-align: left;
}

.p-basket__item-color {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.p-basket__item-color-n {
  display: block;
  font-size: 14px;
  color: #909289;
}

.p-basket__item-name {
  font-size: 20px;
  line-height: 100%;
}

.p-basket__item-minus {
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.p-basket__item-input {
  text-align: center;
  margin: 0 9px;
  width: 40px;
  height: 40px;
}

.p-basket__item-plus {
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.p-basket__item-price {
  font-family: "PTSansBold", sans-serif;
  font-size: 18px;
}

.p-basket__item-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #222224;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
}

.p-basket__item-close span {
  font-size: 28px;
  color: #fff;
  margin-top: -5.5px;
  display: block;
}

.p-basket__bottom-itog {
  text-align: right;
  border: 2px solid #fff;
  padding: 10px;
  font-size: 24px;
  font-family: "PTSansBold", sans-serif;
  background-color: #e3e6ee;
}

.p-basket__bottom-sum {
  text-align: center;
  border: 2px solid #fff;
  font-size: 24px;
  padding: 10px;
  font-family: "PTSansBold", sans-serif;
  background-color: #e3e6ee;
}

.formCont {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.formCont__title {
  font-size: 22px;
}

.formCont__title-wp {
  text-align: center;
  padding: 40px 0;
}

.formCont__row {
  padding-bottom: 10px;
}

.formCont__label {
  display: block;
  text-align: left;
}

.formCont__input {
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0 10px;
}

.formCont__textarea {
  height: 100px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: block;
  width: 100%;
  resize: none;
  padding: 5px 10px;
}

.formCont__button {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: #323335;
  border: none;
  text-align: center;
  font-family: "PTSansBold", sans-serif;
  color: #fff;
  font-size: 18px;
}
