/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .h-nav__link {
    padding: 26px 22px;
    font-size: 16px;
  }
  .h-nav__sub {
    top: 72px;
  }
  .h-logo__link, .logo__img {
    width: 100%;
  }
  .h-info p {
    font-size: 16px;
  }
  .h-phone__number a {
    font-size: 19px;
    padding-right: 139px;
  }
  .h-phone__number a span {
    font-size: 30px;
  }
  .h-phone__callback a {
    font-size: 15px;
  }
  .h-basket a {
    font-size: 14px;
  }
  .h-nav__sub-link {
    font-size: 13px;
  }
  .rproj-slider__img-wp {
    width: 273px;
    height: 164px;
  }
  .hit-prod__bottom-left {
    font-size: 16px;
    line-height: 45px;
  }
  .hit-prod__bottom-left b {
    font-size: 26px;
    line-height: 45px;
  }
  .hit-prod__bottom-right-bt {
    padding-left: 54px;
    padding-right: 12px;
  }
  .copy p {
    font-size: 15px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .card__portfolio {
    padding-bottom: 20px;
  }
  .card__portfolio-img-wp {
    height: 275px;
  }
  .card__portfolio-title-wp {
    padding: 20px 0;
  }
  .sidebar {
    display: none;
  }
  .card__img-wp {
    text-align: center;
  }
  .mob-sidebar__button-wp {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    padding: 26px;
    width: auto;
    background-color: #393d43;
  }
  .mob-sidebar__button {
    color: #fff;
    display: block;
    font-family: "PTSansBold",sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .mob-sidebar__button:hover, .mob-sidebar__button:active, .mob-sidebar__button:focus {
    color: #fff;
    text-decoration: none;
  }
  .pagination {
    margin-bottom: 40px;
  }
  .path {
    padding: 16px 0;
  }
  .p-title {
    padding-bottom: 30px;
    padding-top: 16px;
  }
  .p-prod__wp {
    padding-top: 16px;
  }
  .h-logo__link {
    width: 240px;
    margin: 0 auto;
  }
  .h-basket::before, .hide {
    display: none;
  }
  .h-basket {
    width: 208px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }
  .h-phone {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }
  .header__top {
    padding: 16px 0;
  }
  .h-nav__link {
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
  .ad-center__img-wp {
    width: 100%;
  }
  .ad-top {
    padding-bottom: 30px;
  }
  .advantages, .rproj-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .rproj-slider__img-wp {
    height: 112px;
    width: 200px;
  }
  .r-projects {
    padding-bottom: 30px;
  }
  .bestseller {
    padding-top: 30px;
  }
  .hit-prod {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .copy, .other {
    text-align: center;
    margin-bottom: 16px;
  }
  .rips__wp {
    width: 194px;
    margin: 0 auto;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .card__portfolio-img-wp {
    width: 100%;
    height: auto;
  }
  .card__portfolio-img-wp img {
    display: block;
    width: 100%;
    height: auto;
  }
  .rproj-slider .slick-prev {
    left: -5px;
  }
  .rproj-slider .slick-next {
    right: -5px;
  }
  .rproj-top__button {
    display: none;
  }
  .rproj-top {
    padding-left: 0;
    padding-right: 0;
  }
  .ad-center__list .ad-center__item {
    margin: 0;
    display: block;
    float: none;
    padding: 6px 0;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .ad-center__img-wp {
    width: 290px;
    margin: 0 auto;
  }
  .ad-center__img {
    max-width: 100%;
  }
  .ad-center {
    padding-top: 16px;
  }
  .h-nav__item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
  .h-nav__sub {
    width: 100%;
  }
  .h-nav__sub-link {
    padding-left: 0;
    padding-right: 0;
  }
  .h-nav__mob-button {
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "PTSansBold", sans-serif;
    color: #fff;
  }
  .h-nav__mob-button:hover {
    color: #fff;
    text-decoration: none;
  }
  .h-nav__mob-button:active, .h-nav__mob-button:focus {
    color: #fff;
    text-decoration: none;
  }
  .h-nav__mob-button-wp {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    padding: 26px;
  }
  .header__h-nav {
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 999;
    background-color: #393d43;
    width: 100%;
    display: none;
  }
  .h-basket {
    padding-left: 64px;
    width: 165px;
  }
  .h-basket__icon {
    left: 0;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .call-popup-wp {
    left: 20px;
    right: 20px;
    width: auto;
  }
  .call-popup__title {
    font-size: 20px;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .h-nav__mob-button-wp {
    display: none;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 991px) {
  .hide {
    display: block !important;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
